In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
under_loan_data_df = pd.read_csv("data/public_up_to_150k_no_dupes.csv")
over_loan_data_df = pd.read_csv("data/public_150k_plus_no_dupes.csv")
all_or_ppp = under_loan_data_df.append(over_loan_data_df, ignore_index=True)
all_or_ppp

/var/folders/0g/0f8bfz6d47x6v12s0j396t4w0000gn/T/ipykernel_12343/3173213114.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_or_ppp = under_loan_data_df.append(over_loan_data_df, ignore_index=True)

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,4997797410,5/11/20,202,PPP,BIRD ASSET MANAGEMENT,6 kingswood Road,Katonah,NY,10536,2/24/22,...,Subchapter S Corporation,49274,"Citibank, N.A.",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,20770.42,11/12/21
1,4998897407,5/11/20,202,PPP,"TWO TREE CONSULTING, LLC",67 Lake Street,Pleasantville,NY,10570,1/21/21,...,Limited Liability Company(LLC),49274,"Citibank, N.A.",SIOUX FALLS,SD,Male Owned,Non-Veteran,NaN,20915.56,12/22/20
2,4999677402,5/11/20,248,PPP,MICHAEL J MAURER,2100 East Genesee St,Syracuse,NY,13210-2249,4/19/22,...,Sole Proprietorship,224780,New York Business Development Corporation,Albany,NY,Unanswered,Unanswered,NaN,21031.36,7/6/21
3,4999697310,4/30/20,202,PPP,ANNA SIDERIS,385 Hawthorne Street,Brooklyn,NY,11225-5909,9/22/21,...,Sole Proprietorship,223542,Celtic Bank Corporation,SALT LAKE CITY,UT,Unanswered,Unanswered,NaN,21071.82,8/30/21
4,5002367407,5/11/20,235,PPP,JUNE DIAMANT,229 Linwood Avenue,Cedarhurst,NY,11516,3/19/21,...,Sole Proprietorship,49274,"Citibank, N.A.",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,20936.93,2/9/21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868526,4395967002,4/3/20,897,PPP,"ROY E PAULSON, JR., P.C.",102 N. Kenwood,CASPER,WY,82601-2724,1/13/21,...,Corporation,42366,Platte Valley Bank,TORRINGTON,WY,Male Owned,Non-Veteran,NaN,151037.50,12/9/20
1868527,6985647108,4/14/20,897,PPP,"SWEETWATER COUNTY CHILD DEVELOPMENTAL CENTER, ...",1715 HITCHING POST DR,GREEN RIVER,WY,82935-5783,12/8/20,...,Non-Profit Childcare Center,122813,NebraskaLand Bank,NORTH PLATTE,NE,Unanswered,Unanswered,Y,150789.04,11/3/20
1868528,7996438405,2/12/21,897,PPS,ELECTRICAL SYSTEMS OF WYOMING INC,1105 Adon Rd,Rozet,WY,82727-8465,9/15/21,...,Subchapter S Corporation,77189,First National Bank of Gillette,GILLETTE,WY,Female Owned,Unanswered,NaN,150743.84,8/17/21
1868529,9054647103,4/15/20,897,PPP,EDEN LIFE CARE,30 N. Gould Street Suite 4000,SHERIDAN,WY,82801,3/8/22,...,Corporation,25901,Small Business Bank,LENEXA,KS,Unanswered,Unanswered,NaN,152820.83,2/23/22
1868530,9184687004,4/9/20,897,PPP,S & S JOHNSON ENTERPRISES INC,7342 Granite Loop Rd,TETON VILLAGE,WY,83025-0550,10/22/21,...,Subchapter S Corporation,77193,Bank of Jackson Hole,JACKSON,WY,Unanswered,Unanswered,NaN,152162.50,9/22/21

In [3]:
# dropping and reorganizing columns in dataframe
new_column_order = ["BorrowerName", "BorrowerAddress", "BorrowerCity", "BorrowerState", "BorrowerZip", "JobsReported", "NAICSCode", "CurrentApprovalAmount", "ForgivenessAmount", "DateApproved"]
loan_data_df = all_or_ppp[new_column_order]
print("All PPP Loan Data")
loan_data_df.head()

All PPP Loan Data

,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,JobsReported,NAICSCode,CurrentApprovalAmount,ForgivenessAmount,DateApproved
0,BIRD ASSET MANAGEMENT,6 kingswood Road,Katonah,NY,10536,1.0,522220.0,20800.0,20770.42,5/11/20
1,"TWO TREE CONSULTING, LLC",67 Lake Street,Pleasantville,NY,10570,1.0,541618.0,20800.0,20915.56,5/11/20
2,MICHAEL J MAURER,2100 East Genesee St,Syracuse,NY,13210-2249,1.0,621330.0,20800.0,21031.36,5/11/20
3,ANNA SIDERIS,385 Hawthorne Street,Brooklyn,NY,11225-5909,1.0,541110.0,20800.0,21071.82,4/30/20
4,JUNE DIAMANT,229 Linwood Avenue,Cedarhurst,NY,11516,2.0,541199.0,20800.0,20936.93,5/11/20

In [4]:
loan_data_df = loan_data_df.fillna(0)
loan_data_df

,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,JobsReported,NAICSCode,CurrentApprovalAmount,ForgivenessAmount,DateApproved
0,BIRD ASSET MANAGEMENT,6 kingswood Road,Katonah,NY,10536,1.0,522220.0,20800.0,20770.42,5/11/20
1,"TWO TREE CONSULTING, LLC",67 Lake Street,Pleasantville,NY,10570,1.0,541618.0,20800.0,20915.56,5/11/20
2,MICHAEL J MAURER,2100 East Genesee St,Syracuse,NY,13210-2249,1.0,621330.0,20800.0,21031.36,5/11/20
3,ANNA SIDERIS,385 Hawthorne Street,Brooklyn,NY,11225-5909,1.0,541110.0,20800.0,21071.82,4/30/20
4,JUNE DIAMANT,229 Linwood Avenue,Cedarhurst,NY,11516,2.0,541199.0,20800.0,20936.93,5/11/20
...,...,...,...,...,...,...,...,...,...,...
1868526,"ROY E PAULSON, JR., P.C.",102 N. Kenwood,CASPER,WY,82601-2724,15.0,621210.0,150000.0,151037.50,4/3/20
1868527,"SWEETWATER COUNTY CHILD DEVELOPMENTAL CENTER, ...",1715 HITCHING POST DR,GREEN RIVER,WY,82935-5783,42.0,624410.0,150000.0,150789.04,4/14/20
1868528,ELECTRICAL SYSTEMS OF WYOMING INC,1105 Adon Rd,Rozet,WY,82727-8465,5.0,238210.0,150000.0,150743.84,2/12/21
1868529,EDEN LIFE CARE,30 N. Gould Street Suite 4000,SHERIDAN,WY,82801,7.0,621610.0,150000.0,152820.83,4/15/20
1868530,S & S JOHNSON ENTERPRISES INC,7342 Granite Loop Rd,TETON VILLAGE,WY,83025-0550,11.0,722511.0,150000.0,152162.50,4/9/20

In [5]:
# filtering loans under $150,000 for just OR

oregon_data_df = loan_data_df[loan_data_df["BorrowerState"] == "OR"]
print("All PPP Loan Data for Oregon")
oregon_data_df

All PPP Loan Data for Oregon

,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,JobsReported,NAICSCode,CurrentApprovalAmount,ForgivenessAmount,DateApproved
828745,11-Jul,12045 Sw hall Blvd,Tigard,OR,97035,10.0,453998.0,31500.00,31815.86,4/16/20
828746,-,"11135 Southwest Industrial Way,Bldg 10, Bay 3",Tualatin,OR,97062,5.0,811111.0,35000.00,35353.84,4/16/20
828747,-,"2118 Lancaster Drive Northeast,Suite 110",Salem,OR,97305,7.0,722515.0,18100.00,18247.28,4/16/20
828748,-,"224 Northwest 1st Avenue, Oregon",Canby,OR,97013,4.0,722515.0,25500.00,25710.99,4/13/20
828749,-,310 Broadway Street,Woodburn,OR,97071,12.0,811111.0,132000.00,133077.70,4/16/20
...,...,...,...,...,...,...,...,...,...,...
1636025,ZRT LABORATORY LLC,8605 SW CREEKSIDE PL,BEAVERTON,OR,97008-7161,74.0,541380.0,1143230.00,1151216.95,4/15/20
1636026,ZUM WHOL INC,401 NE 28th Ave,Portland,OR,97232-3151,24.0,722511.0,261753.00,264270.13,2/13/21
1636027,"ZUPAN ENTERPRISES OREGON, INC.",6915 SW MACADAM AVE Suite 255,PORTLAND,OR,97219-2380,303.0,445110.0,2421100.00,2447566.27,4/30/20
1636028,"ZURI GROUP, LLC",328 NW BOND ST,BEND,OR,97703-3306,41.0,541430.0,696600.00,700436.07,4/14/20
1636029,ZWALD TRANSPORT INC,9980 South Prairie Road,TILLAMOOK,OR,97141-9538,39.0,484220.0,449020.15,452425.22,4/10/20

In [6]:
oregon_df = oregon_data_df.rename(columns={"BorrowerName":"Business Name","BorrowerAddress":"Street Address","BorrowerCity":"City","BorrowerState":"State", "BorrowerZip":"Zip", "CurrentApprovalAmount":"Loan Amount", "ForgivenessAmount": "Foregiveness Amount", "DateApproved": "Approval Date", "JobsReported": "Jobs", "NAICSCode":"NAICS Code"})
new_column_order = ["Business Name", "Street Address", "City", "State", "Zip", "Loan Amount", "Foregiveness Amount", "Approval Date", "Jobs", "NAICS Code"]
oregon_df = oregon_df[new_column_order]
oregon_df["Zip"] = oregon_df["Zip"].str.extract(r'(\d{5})')
oregon_df = oregon_df.fillna(0)
oregon_df

,Business Name,Street Address,City,State,Zip,Loan Amount,Foregiveness Amount,Approval Date,Jobs,NAICS Code
828745,11-Jul,12045 Sw hall Blvd,Tigard,OR,97035,31500.00,31815.86,4/16/20,10.0,453998.0
828746,-,"11135 Southwest Industrial Way,Bldg 10, Bay 3",Tualatin,OR,97062,35000.00,35353.84,4/16/20,5.0,811111.0
828747,-,"2118 Lancaster Drive Northeast,Suite 110",Salem,OR,97305,18100.00,18247.28,4/16/20,7.0,722515.0
828748,-,"224 Northwest 1st Avenue, Oregon",Canby,OR,97013,25500.00,25710.99,4/13/20,4.0,722515.0
828749,-,310 Broadway Street,Woodburn,OR,97071,132000.00,133077.70,4/16/20,12.0,811111.0
...,...,...,...,...,...,...,...,...,...,...
1636025,ZRT LABORATORY LLC,8605 SW CREEKSIDE PL,BEAVERTON,OR,97008,1143230.00,1151216.95,4/15/20,74.0,541380.0
1636026,ZUM WHOL INC,401 NE 28th Ave,Portland,OR,97232,261753.00,264270.13,2/13/21,24.0,722511.0
1636027,"ZUPAN ENTERPRISES OREGON, INC.",6915 SW MACADAM AVE Suite 255,PORTLAND,OR,97219,2421100.00,2447566.27,4/30/20,303.0,445110.0
1636028,"ZURI GROUP, LLC",328 NW BOND ST,BEND,OR,97703,696600.00,700436.07,4/14/20,41.0,541430.0
1636029,ZWALD TRANSPORT INC,9980 South Prairie Road,TILLAMOOK,OR,97141,449020.15,452425.22,4/10/20,39.0,484220.0

In [7]:
oregon_df["Foregiveness Rate"] = oregon_df["Foregiveness Amount"]/oregon_df["Loan Amount"]*100
oregon_df["Foregiveness Rate"] = oregon_df["Foregiveness Rate"].map("{:,.2f}".format)
oregon_df

,Business Name,Street Address,City,State,Zip,Loan Amount,Foregiveness Amount,Approval Date,Jobs,NAICS Code,Foregiveness Rate
828745,11-Jul,12045 Sw hall Blvd,Tigard,OR,97035,31500.00,31815.86,4/16/20,10.0,453998.0,101.00
828746,-,"11135 Southwest Industrial Way,Bldg 10, Bay 3",Tualatin,OR,97062,35000.00,35353.84,4/16/20,5.0,811111.0,101.01
828747,-,"2118 Lancaster Drive Northeast,Suite 110",Salem,OR,97305,18100.00,18247.28,4/16/20,7.0,722515.0,100.81
828748,-,"224 Northwest 1st Avenue, Oregon",Canby,OR,97013,25500.00,25710.99,4/13/20,4.0,722515.0,100.83
828749,-,310 Broadway Street,Woodburn,OR,97071,132000.00,133077.70,4/16/20,12.0,811111.0,100.82
...,...,...,...,...,...,...,...,...,...,...,...
1636025,ZRT LABORATORY LLC,8605 SW CREEKSIDE PL,BEAVERTON,OR,97008,1143230.00,1151216.95,4/15/20,74.0,541380.0,100.70
1636026,ZUM WHOL INC,401 NE 28th Ave,Portland,OR,97232,261753.00,264270.13,2/13/21,24.0,722511.0,100.96
1636027,"ZUPAN ENTERPRISES OREGON, INC.",6915 SW MACADAM AVE Suite 255,PORTLAND,OR,97219,2421100.00,2447566.27,4/30/20,303.0,445110.0,101.09
1636028,"ZURI GROUP, LLC",328 NW BOND ST,BEND,OR,97703,696600.00,700436.07,4/14/20,41.0,541430.0,100.55
1636029,ZWALD TRANSPORT INC,9980 South Prairie Road,TILLAMOOK,OR,97141,449020.15,452425.22,4/10/20,39.0,484220.0,100.76

In [8]:
oregon_df = oregon_df.astype({'NAICS Code': 'str'})
oregon_df["NAICS Code"] = oregon_df["NAICS Code"].str.extract(r'(\d{2})')
oregon_df

,Business Name,Street Address,City,State,Zip,Loan Amount,Foregiveness Amount,Approval Date,Jobs,NAICS Code,Foregiveness Rate
828745,11-Jul,12045 Sw hall Blvd,Tigard,OR,97035,31500.00,31815.86,4/16/20,10.0,45,101.00
828746,-,"11135 Southwest Industrial Way,Bldg 10, Bay 3",Tualatin,OR,97062,35000.00,35353.84,4/16/20,5.0,81,101.01
828747,-,"2118 Lancaster Drive Northeast,Suite 110",Salem,OR,97305,18100.00,18247.28,4/16/20,7.0,72,100.81
828748,-,"224 Northwest 1st Avenue, Oregon",Canby,OR,97013,25500.00,25710.99,4/13/20,4.0,72,100.83
828749,-,310 Broadway Street,Woodburn,OR,97071,132000.00,133077.70,4/16/20,12.0,81,100.82
...,...,...,...,...,...,...,...,...,...,...,...
1636025,ZRT LABORATORY LLC,8605 SW CREEKSIDE PL,BEAVERTON,OR,97008,1143230.00,1151216.95,4/15/20,74.0,54,100.70
1636026,ZUM WHOL INC,401 NE 28th Ave,Portland,OR,97232,261753.00,264270.13,2/13/21,24.0,72,100.96
1636027,"ZUPAN ENTERPRISES OREGON, INC.",6915 SW MACADAM AVE Suite 255,PORTLAND,OR,97219,2421100.00,2447566.27,4/30/20,303.0,44,101.09
1636028,"ZURI GROUP, LLC",328 NW BOND ST,BEND,OR,97703,696600.00,700436.07,4/14/20,41.0,54,100.55
1636029,ZWALD TRANSPORT INC,9980 South Prairie Road,TILLAMOOK,OR,97141,449020.15,452425.22,4/10/20,39.0,48,100.76

In [9]:
oregon_df = oregon_df.dropna()
oregon_df

,Business Name,Street Address,City,State,Zip,Loan Amount,Foregiveness Amount,Approval Date,Jobs,NAICS Code,Foregiveness Rate
828745,11-Jul,12045 Sw hall Blvd,Tigard,OR,97035,31500.00,31815.86,4/16/20,10.0,45,101.00
828746,-,"11135 Southwest Industrial Way,Bldg 10, Bay 3",Tualatin,OR,97062,35000.00,35353.84,4/16/20,5.0,81,101.01
828747,-,"2118 Lancaster Drive Northeast,Suite 110",Salem,OR,97305,18100.00,18247.28,4/16/20,7.0,72,100.81
828748,-,"224 Northwest 1st Avenue, Oregon",Canby,OR,97013,25500.00,25710.99,4/13/20,4.0,72,100.83
828749,-,310 Broadway Street,Woodburn,OR,97071,132000.00,133077.70,4/16/20,12.0,81,100.82
...,...,...,...,...,...,...,...,...,...,...,...
1636025,ZRT LABORATORY LLC,8605 SW CREEKSIDE PL,BEAVERTON,OR,97008,1143230.00,1151216.95,4/15/20,74.0,54,100.70
1636026,ZUM WHOL INC,401 NE 28th Ave,Portland,OR,97232,261753.00,264270.13,2/13/21,24.0,72,100.96
1636027,"ZUPAN ENTERPRISES OREGON, INC.",6915 SW MACADAM AVE Suite 255,PORTLAND,OR,97219,2421100.00,2447566.27,4/30/20,303.0,44,101.09
1636028,"ZURI GROUP, LLC",328 NW BOND ST,BEND,OR,97703,696600.00,700436.07,4/14/20,41.0,54,100.55
1636029,ZWALD TRANSPORT INC,9980 South Prairie Road,TILLAMOOK,OR,97141,449020.15,452425.22,4/10/20,39.0,48,100.76

In [11]:
NAICS_df = pd.read_csv("data/NAICS Codes.csv")
NAICS_df

    Code                                          Industry
0     11          Agriculture, Forestry, Fishing & Hunting
1     21                                            Mining
2     22                                         Utilities
3     23                                      Construction
4     31                                     Manufacturing
5     32                                     Manufacturing
6     33                                     Manufacturing
7     42                                   Wholesale Trade
8     44                                      Retail Trade
9     45                                      Retail Trade
10    48                    Transportation and Warehousing
11    49                    Transportation and Warehousing
12    51                                       Information
13    52                               Finance & Insurance
14    53                    Real Estate Rental and Leasing
15    54  Professional, Scientific, and Technical Services
16    55           Management of Companies and Enterprises
17    56   Administrative and Support and Waste Management
18    61                              Educational Services
19    62                                       Health Care
20    71               Arts, Entertainment, and Recreation
21    72                   Accommodation and Food Services
22    81                                    Other Services
23    92                             Public Administration
24    99                                   Nonclassifiable

In [12]:
key_list = list(oregon_df["NAICS Code"])
key_list

['45',
 '81',
 '72',
 '72',
 '81',
 '81',
 '45',
 '23',
 '53',
 '53',
 '72',
 '99',
 '53',
 '54',
 '31',
 '44',
 '99',
 '42',
 '72',
 '72',
 '53',
 '53',
 '53',
 '72',
 '33',
 '33',
 '54',
 '54',
 '23',
 '54',
 '11',
 '62',
 '61',
 '56',
 '72',
 '99',
 '44',
 '44',
 '71',
 '71',
 '42',
 '45',
 '23',
 '31',
 '31',
 '72',
 '31',
 '44',
 '44',
 '11',
 '54',
 '62',
 '62',
 '61',
 '33',
 '32',
 '81',
 '99',
 '45',
 '54',
 '72',
 '56',
 '42',
 '72',
 '72',
 '99',
 '62',
 '72',
 '31',
 '54',
 '72',
 '52',
 '72',
 '23',
 '23',
 '56',
 '54',
 '56',
 '54',
 '44',
 '44',
 '44',
 '23',
 '53',
 '54',
 '54',
 '81',
 '45',
 '51',
 '72',
 '71',
 '54',
 '53',
 '23',
 '23',
 '81',
 '81',
 '81',
 '53',
 '44',
 '61',
 '52',
 '52',
 '53',
 '23',
 '72',
 '72',
 '62',
 '31',
 '54',
 '53',
 '11',
 '11',
 '81',
 '72',
 '72',
 '72',
 '72',
 '11',
 '72',
 '42',
 '11',
 '72',
 '33',
 '72',
 '72',
 '54',
 '54',
 '62',
 '32',
 '32',
 '33',
 '44',
 '62',
 '51',
 '51',
 '53',
 '53',
 '72',
 '72',
 '53',
 '53',
 '42',
 '42',
 '51',
 '11',
 '53',
 '23',
 '51',
 '72',
 '72',
 '54',
 '54',
 '32',
 '56',
 '71',
 '71',
 '81',
 '61',
 '61',
 '23',
 '62',
 '56',
 '54',
 '54',
 '44',
 '31',
 '31',
 '45',
 '72',
 '45',
 '45',
 '23',
 '81',
 '45',
 '42',
 '99',
 '71',
 '48',
 '48',
 '53',
 '53',
 '48',
 '48',
 '11',
 '23',
 '23',
 '54',
 '48',
 '48',
 '23',
 '23',
 '23',
 '11',
 '11',
 '23',
 '23',
 '72',
 '45',
 '72',
 '44',
 '54',
 '44',
 '32',
 '32',
 '54',
 '81',
 '81',
 '42',
 '33',
 '62',
 '23',
 '62',
 '51',
 '51',
 '54',
 '54',
 '62',
 '62',
 '33',
 '56',
 '54',
 '45',
 '42',
 '72',
 '56',
 '56',
 '81',
 '71',
 '81',
 '72',
 '54',
 '54',
 '56',
 '81',
 '33',
 '54',
 '72',
 '72',
 '81',
 '72',
 '72',
 '11',
 '54',
 '11',
 '23',
 '49',
 '45',
 '51',
 '23',
 '11',
 '23',
 '54',
 '72',
 '56',
 '71',
 '11',
 '11',
 '81',
 '11',
 '44',
 '81',
 '72',
 '72',
 '44',
 '62',
 '62',
 '81',
 '81',
 '81',
 '56',
 '23',
 '23',
 '48',
 '81',
 '81',
 '23',
 '42',
 '48',
 '11',
 '72',
 '72',
 '71',
 '31',
 '72',
 '72',
 '71',
 '71',
 '44',
 '48',
 '72',
 '44',
 '33',
 '54',
 '56',
 '23',
 '56',
 '53',
 '53',
 '11',
 '11',
 '61',
 '99',
 '72',
 '72',
 '99',
 '33',
 '23',
 '54',
 '23',
 '54',
 '72',
 '23',
 '72',
 '72',
 '52',
 '42',
 '54',
 '45',
 '81',
 '48',
 '23',
 '23',
 '53',
 '53',
 '11',
 '54',
 '54',
 '44',
 '53',
 '53',
 '44',
 '44',
 '44',
 '23',
 '72',
 '72',
 '56',
 '81',
 '54',
 '54',
 '23',
 '44',
 '23',
 '53',
 '51',
 '71',
 '72',
 '72',
 '53',
 '99',
 '44',
 '54',
 '53',
 '23',
 '23',
 '54',
 '45',
 '45',
 '54',
 '11',
 '54',
 '54',
 '72',
 '56',
 '49',
 '48',
 '72',
 '81',
 '44',
 '71',
 '31',
 '72',
 '23',
 '53',
 '45',
 '23',
 '45',
 '44',
 '44',
 '44',
 '44',
 '44',
 '44',
 '44',
 '23',
 '23',
 '11',
 '11',
 '44',
 '72',
 '72',
 '44',
 '72',
 '72',
 '23',
 '72',
 '72',
 '11',
 '11',
 '11',
 '54',
 '54',
 '54',
 '62',
 '62',
 '23',
 '23',
 '81',
 '54',
 '44',
 '53',
 '62',
 '72',
 '72',
 '72',
 '31',
 '72',
 '72',
 '72',
 '54',
 '33',
 '23',
 '72',
 '99',
 '81',
 '81',
 '56',
 '53',
 '51',
 '81',
 '48',
 '44',
 '44',
 '23',
 '54',
 '33',
 '23',
 '23',
 '42',
 '44',
 '53',
 '48',
 '72',
 '62',
 '72',
 '44',
 '81',
 '72',
 '72',
 '72',
 '72',
 '72',
 '56',
 '44',
 '23',
 '11',
 '42',
 '72',
 '45',
 '11',
 '56',
 '48',
 '81',
 '81',
 '72',
 '56',
 '33',
 '72',
 '48',
 '11',
 '81',
 '45',
 '42',
 '81',
 '61',
 '56',
 '56',
 '56',
 '23',
 '81',
 '53',
 '23',
 '56',
 '56',
 '23',
 '54',
 '44',
 '54',
 '55',
 '81',
 '72',
 '72',
 '44',
 '44',
 '23',
 '54',
 '81',
 '81',
 '61',
 '45',
 '72',
 '45',
 '56',
 '81',
 '54',
 '62',
 '62',
 '81',
 '23',
 '23',
 '81',
 '81',
 '81',
 '23',
 '45',
 '81',
 '81',
 '81',
 '62',
 '62',
 '62',
 '62',
 '62',
 '62',
 '54',
 '23',
 '23',
 '23',
 '23',
 '45',
 '23',
 '56',
 '81',
 '53',
 '62',
 '62',
 '71',
 '71',
 '62',
 '62',
 '81',
 '81',
 '71',
 '56',
 '56',
 '62',
 '62',
 '56',
 '61',
 '62',
 '81',
 '23',
 '42',
 '81',
 '61',
 '45',
 '23',
 '23',
 '23',
 '23',
 '62',
 '33',
 '56',
 '23',
 '45',
 '45',
 '62',
 '23',
 '48',
 '48',
 '81',
 '23',
 '56',
 '23',
 '11',
 '45',
 '45',
 '23',
 '72',
 '54',
 '23',
 '45',
 '45',
 '81',
 '62',
 '62',
 '62',
 '23',
 '23',
 '42',
 '33',
 '62',
 '72',
 '53',
 '45',
 '54',
 '23',
 '23',
 '56',
 '56',
 '33',
 '23',
 '33',
 '33',
 '56',
 '56',
 '81',
 '23',
 '23',
 '72',
 '72',
 '81',
 '62',
 '62',
 '62',
 '62',
 '56',
 '54',
 '54',
 '54',
 '62',
 '72',
 '99',
 '23',
 '44',
 '56',
 '23',
 '81',
 '54',
 '53',
 '23',
 '56',
 '55',
 '56',
 '56',
 '23',
 '23',
 '56',
 '56',
 '23',
 '23',
 '23',
 '51',
 '54',
 '81',
 '72',
 '44',
 '23',
 '23',
 '54',
 '23',
 '61',
 '61',
 '45',
 '11',
 '62',
 '33',
 '23',
 '32',
 '11',
 '81',
 '81',
 '52',
 '23',
 '23',
 '33',
 '81',
 '81',
 '81',
 '42',
 '11',
 '11',
 '11',
 '23',
 '23',
 '23',
 '72',
 '44',
 '33',
 '81',
 '81',
 '53',
 '81',
 '48',
 '23',
 '44',
 '48',
 '52',
 '99',
 '23',
 '48',
 '44',
 '44',
 '23',
 '56',
 '45',
 '11',
 '23',
 '72',
 '62',
 '44',
 '72',
 '54',
 '81',
 '42',
 '54',
 '11',
 '11',
 '53',
 '11',
 '61',
 '81',
 '48',
 '48',
 '81',
 '23',
 '81',
 '23',
 '23',
 '52',
 '54',
 '23',
 '23',
 '52',
 '54',
 '23',
 '99',
 '72',
 '72',
 '72',
 '72',
 '72',
 '56',
 '44',
 '71',
 '71',
 '56',
 '23',
 '23',
 '56',
 '48',
 '48',
 '81',
 '23',
 '23',
 '49',
 '52',
 '72',
 '72',
 '23',
 '56',
 '72',
 '44',
 '45',
 '45',
 '42',
 '81',
 '72',
 '72',
 '23',
 '23',
 '81',
 '31',
 '62',
 '56',
 '42',
 '33',
 '56',
 '81',
 '54',
 '56',
 '42',
 '62',
 '56',
 '72',
 '72',
 '72',
 '72',
 '72',
 '23',
 '81',
 '81',
 '53',
 '53',
 '81',
 '56',
 '62',
 '62',
 '62',
 '81',
 '23',
 '71',
 '53',
 '71',
 '71',
 '11',
 '11',
 '62',
 '62',
 '56',
 '23',
 '23',
 '11',
 '54',
 '51',
 '72',
 '33',
 '48',
 '62',
 '23',
 '11',
 '54',
 '54',
 '11',
 '23',
 '23',
 '52',
 '54',
 '54',
 '51',
 '81',
 '62',
 '23',
 '54',
 '52',
 '52',
 '23',
 '81',
 '62',
 '81',
 '56',
 '32',
 '62',
 '62',
 '81',
 '48',
 '23',
 '53',
 '44',
 '53',
 '44',
 '71',
 '56',
 '81',
 '53',
 '53',
 '53',
 '81',
 '81',
 '42',
 '45',
 '45',
 '23',
 '23',
 '32',
 '23',
 '23',
 '11',
 '42',
 '48',
 '81',
 '45',
 '31',
 '56',
 '48',
 '56',
 '23',
 '54',
 '54',
 '54',
 '33',
 '31',
 '11',
 '44',
 '23',
 '54',
 '56',
 '45',
 '72',
 '53',
 '61',
 '81',
 '81',
 '54',
 '52',
 '81',
 '92',
 '33',
 '62',
 '62',
 '81',
 '33',
 '32',
 '44',
 '33',
 '42',
 '56',
 '81',
 '61',
 '33',
 '33',
 '31',
 '48',
 '48',
 '48',
 '48',
 '48',
 '31',
 '48',
 '48',
 '23',
 '23',
 '23',
 '54',
 '54',
 '62',
 '62',
 '56',
 '54',
 '54',
 '81',
 '32',
 '72',
 '23',
 '72',
 '72',
 '31',
 '62',
 '62',
 '54',
 '54',
 '62',
 '62',
 '62',
 '62',
 '62',
 '44',
 '23',
 '22',
 '48',
 '11',
 '23',
 '31',
 '54',
 '54',
 '33',
 '72',
 '23',
 '22',
 '23',
 '33',
 '54',
 '48',
 '48',
 '62',
 '62',
 '54',
 '23',
 '23',
 '56',
 '71',
 '71',
 '23',
 '23',
 '23',
 '54',
 '54',
 '23',
 '56',
 '54',
 '32',
 '62',
 '54',
 '56',
 '54',
 '81',
 '81',
 '54',
 '62',
 '11',
 '48',
 '11',
 '61',
 '52',
 '48',
 '48',
 '33',
 '62',
 '81',
 '81',
 '44',
 '44',
 '48',
 '23',
 '62',
 '44',
 '56',
 '54',
 '81',
 ...]

In [13]:
NAICS_df = NAICS_df.astype({'Code': 'str'})
dict_lookup = dict(zip(NAICS_df['Code'], NAICS_df['Industry']))
dict_lookup

{'11': 'Agriculture, Forestry, Fishing & Hunting',
 '21': 'Mining',
 '22': 'Utilities',
 '23': 'Construction',
 '31': 'Manufacturing',
 '32': 'Manufacturing',
 '33': 'Manufacturing',
 '42': 'Wholesale Trade',
 '44': 'Retail Trade',
 '45': 'Retail Trade',
 '48': 'Transportation and Warehousing',
 '49': 'Transportation and Warehousing',
 '51': 'Information',
 '52': 'Finance & Insurance',
 '53': 'Real Estate Rental and Leasing',
 '54': 'Professional, Scientific, and Technical Services',
 '55': 'Management of Companies and Enterprises',
 '56': 'Administrative and Support and Waste Management',
 '61': 'Educational Services',
 '62': 'Health Care',
 '71': 'Arts, Entertainment, and Recreation',
 '72': 'Accommodation and Food Services',
 '81': 'Other Services',
 '92': 'Public Administration',
 '99': 'Nonclassifiable'}

In [14]:
oregon_df["NAICS Code"] = [dict_lookup[item] for item in key_list]
oregon_df

/var/folders/0g/0f8bfz6d47x6v12s0j396t4w0000gn/T/ipykernel_12343/2660914064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oregon_df["NAICS Code"] = [dict_lookup[item] for item in key_list]

,Business Name,Street Address,City,State,Zip,Loan Amount,Foregiveness Amount,Approval Date,Jobs,NAICS Code,Foregiveness Rate
828745,11-Jul,12045 Sw hall Blvd,Tigard,OR,97035,31500.00,31815.86,4/16/20,10.0,Retail Trade,101.00
828746,-,"11135 Southwest Industrial Way,Bldg 10, Bay 3",Tualatin,OR,97062,35000.00,35353.84,4/16/20,5.0,Other Services,101.01
828747,-,"2118 Lancaster Drive Northeast,Suite 110",Salem,OR,97305,18100.00,18247.28,4/16/20,7.0,Accommodation and Food Services,100.81
828748,-,"224 Northwest 1st Avenue, Oregon",Canby,OR,97013,25500.00,25710.99,4/13/20,4.0,Accommodation and Food Services,100.83
828749,-,310 Broadway Street,Woodburn,OR,97071,132000.00,133077.70,4/16/20,12.0,Other Services,100.82
...,...,...,...,...,...,...,...,...,...,...,...
1636025,ZRT LABORATORY LLC,8605 SW CREEKSIDE PL,BEAVERTON,OR,97008,1143230.00,1151216.95,4/15/20,74.0,"Professional, Scientific, and Technical Services",100.70
1636026,ZUM WHOL INC,401 NE 28th Ave,Portland,OR,97232,261753.00,264270.13,2/13/21,24.0,Accommodation and Food Services,100.96
1636027,"ZUPAN ENTERPRISES OREGON, INC.",6915 SW MACADAM AVE Suite 255,PORTLAND,OR,97219,2421100.00,2447566.27,4/30/20,303.0,Retail Trade,101.09
1636028,"ZURI GROUP, LLC",328 NW BOND ST,BEND,OR,97703,696600.00,700436.07,4/14/20,41.0,"Professional, Scientific, and Technical Services",100.55
1636029,ZWALD TRANSPORT INC,9980 South Prairie Road,TILLAMOOK,OR,97141,449020.15,452425.22,4/10/20,39.0,Transportation and Warehousing,100.76

In [18]:
output_data_file = "all_oregon_ppp_data.csv"
# Export the City_Data into a CSV.
oregon_df.to_csv(output_data_file, index=False)

In [19]:
# filtering Oregon loan applications for food establishments only with NAICS code for food establishments
oregon_restaurant_df = oregon_data_df[(oregon_data_df["NAICSCode"] == 722320)|(oregon_data_df["NAICSCode"] == 722330) |(oregon_data_df["NAICSCode"] == 722410)| (oregon_data_df["NAICSCode"] == 722511)| (oregon_data_df["NAICSCode"] == 722513)| (oregon_data_df["NAICSCode"] == 722514)| (oregon_data_df["NAICSCode"] == 722515)]
print("All PPP Loan Data for Oregon Food Establishments")
oregon_restaurant_df

All PPP Loan Data for Oregon Food Establishments

,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,JobsReported,NAICSCode,CurrentApprovalAmount,ForgivenessAmount,DateApproved
828747,-,"2118 Lancaster Drive Northeast,Suite 110",Salem,OR,97305,7.0,722515.0,18100.0,18247.28,4/16/20
828748,-,"224 Northwest 1st Avenue, Oregon",Canby,OR,97013,4.0,722515.0,25500.0,25710.99,4/13/20
828755,(THE) PANDA RESTAURANT,555 N Main St.,PRINEVILLE,OR,97754,7.0,722511.0,17000.0,17153.70,5/11/20
828763,1-2-3 YO LLC,3962 SE HAWTHORNE BLVD,PORTLAND,OR,97214,10.0,722511.0,66035.0,66671.50,4/14/20
828764,1-2-3 YO LLC,3962 SE Hawthorne Blvd,Portland,OR,97214-5258,6.0,722511.0,65418.0,65737.82,2/7/21
...,...,...,...,...,...,...,...,...,...,...
1636002,ZECO DEVELOPMENT GROUP LLC,529 NW 13th Ave,Portland,OR,97209-3000,44.0,722511.0,464100.0,470139.66,2/9/21
1636003,ZECO DEVELOPMENT GROUP LLC,529 NW 13th Ave,Portland,OR,97209-3000,23.0,722511.0,331500.0,335668.73,4/29/20
1636023,ZNE CORP,560 Hickory St. NW,ALBANY,OR,97321-1787,49.0,722511.0,160040.0,162227.94,4/13/20
1636024,ZNE CORP.,4066 Moose Run Dr SW,Albany,OR,97321-5800,45.0,722511.0,166010.0,168079.44,1/23/21
1636026,ZUM WHOL INC,401 NE 28th Ave,Portland,OR,97232-3151,24.0,722511.0,261753.0,264270.13,2/13/21

In [20]:
# establishing filtered dataset size is still adequate to perform analysis on
oregon_restaurant_count = oregon_restaurant_df["BorrowerName"].count()
print("Count of all Oregon Food Establishments that received PPP Loans")
oregon_restaurant_count

Count of all Oregon Food Establishments that received PPP Loans

8414

In [21]:
# creating a dataframe of all Oregon business that received PPP funding that are NOT food establishments
oregon_data_df = oregon_data_df[(oregon_data_df["NAICSCode"] != 722320)&(oregon_data_df["NAICSCode"] != 722330) &(oregon_data_df["NAICSCode"] != 722410)& (oregon_data_df["NAICSCode"] != 722511)& (oregon_data_df["NAICSCode"] != 722513)& (oregon_data_df["NAICSCode"] != 722514)&(oregon_data_df["NAICSCode"] != 722515)]
print("Oregon PPP Loan Data for All Business Except Food Establishments")
oregon_data_df.head()

Oregon PPP Loan Data for All Business Except Food Establishments

,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,JobsReported,NAICSCode,CurrentApprovalAmount,ForgivenessAmount,DateApproved
828745,11-Jul,12045 Sw hall Blvd,Tigard,OR,97035,10.0,453998.0,31500.0,31815.86,4/16/20
828746,-,"11135 Southwest Industrial Way,Bldg 10, Bay 3",Tualatin,OR,97062,5.0,811111.0,35000.0,35353.84,4/16/20
828749,-,310 Broadway Street,Woodburn,OR,97071,12.0,811111.0,132000.0,133077.70,4/16/20
828750,-,555 Shaver Avenue,Molalla,OR,97038,4.0,811111.0,48200.0,48652.95,4/13/20
828751,-,624 East 2nd Street,The Dalles,OR,97058,8.0,453998.0,60200.0,60656.86,4/13/20

In [22]:
# establishing count of oregon business that are not food establihsments that received funding
oregon_loan_count = oregon_data_df["BorrowerName"].count()
print("Count of all Oregon non food establishments business that recieved PPP funding")
oregon_loan_count

Count of all Oregon non food establishments business that recieved PPP funding

76297

In [23]:
print("The mean Loan for Oregon Restaurants")
mean_resto = oregon_restaurant_df["CurrentApprovalAmount"].mean()
mean_resto

The mean Loan for Oregon Restaurants

114141.28499999989

In [24]:
print("The mean Loan for Oregon Business (Excluding Restaurants)")
mean = oregon_data_df["CurrentApprovalAmount"].mean()
mean

The mean Loan for Oregon Business (Excluding Restaurants)

116926.70159298513

In [25]:
# establishing foregiveness ratio for oregon restaurants loans
oregon_restaurant_foregiveness = oregon_restaurant_df["ForgivenessAmount"]/oregon_restaurant_df["CurrentApprovalAmount"]*100
oregon_restaurant_foregiveness.head()

828747    100.813702
828748    100.827412
828755    100.904118
828763    100.963883
828764    100.488887
dtype: float64

In [26]:
# establishing foregiveness ratio for oregon business loans excluding restaurants
oregon_foregiveness = oregon_data_df["ForgivenessAmount"]/oregon_data_df["CurrentApprovalAmount"]*100
oregon_foregiveness.head()

828745    101.002730
828746    101.010971
828749    100.816439
828750    100.939730
828751    100.758904
dtype: float64

In [27]:
print("The Mean Foregiveness Ratio for Oregon Restaurants")
rest_foregive_ratio = oregon_restaurant_foregiveness.mean()
rest_foregive_ratio

The Mean Foregiveness Ratio for Oregon Restaurants

93.72468838092914

In [28]:
print("The Mean Foregiveness Ratio for Oregon Businesses (Excluding Restaurants)")
foregive_ratio = oregon_foregiveness.mean()
foregive_ratio

The Mean Foregiveness Ratio for Oregon Businesses (Excluding Restaurants)

95.0997834598378

In [29]:
oregon_loan_sum = oregon_data_df["CurrentApprovalAmount"].sum()
oregon_loan_sum

8921156551.439999

In [30]:
oregon_restaurant_sum = oregon_restaurant_df["CurrentApprovalAmount"].sum()
oregon_restaurant_sum

960384771.9900001

In [31]:
loan_sum_ratio = (oregon_restaurant_sum/(oregon_restaurant_sum + oregon_loan_sum))*100
loan_sum_ratio

9.718977440420593

In [32]:
business_count_ratio = (oregon_restaurant_count/(oregon_loan_count + oregon_restaurant_count))*100
business_count_ratio

9.932594350202454

In [33]:
# create new dataframe where each row is oregon biz vs oregon resto and each column is a stat
state_ppp_summary_df = pd.DataFrame(
          [{"Loan Dispersal Count: Non Food Establishments": oregon_loan_count,
            "Loan Dsipersal Count: Food Establishments": oregon_restaurant_count,
            "Average Loan Value: Non Food Establishments": mean,
            "Average Loan Value: Food Establishments": mean_resto,
            "Foregiveness Ratio: Non Food Establishments": foregive_ratio,
            "Foregiveness Ratio: Food Establishments": rest_foregive_ratio,
            "Total Loan Dispersement: Non Food Establishments": oregon_loan_sum,
            "Total Loan Dispersement: Food Establishments": oregon_restaurant_sum,
            "Restaurant to Total: Business Count Ratio": business_count_ratio,
            "Restaurant to Total: Loan Amount Ratio": loan_sum_ratio
           }])
state_ppp_summary_df

,Loan Dispersal Count: Non Food Establishments,Loan Dsipersal Count: Food Establishments,Average Loan Value: Non Food Establishments,Average Loan Value: Food Establishments,Foregiveness Ratio: Non Food Establishments,Foregiveness Ratio: Food Establishments,Total Loan Dispersement: Non Food Establishments,Total Loan Dispersement: Food Establishments,Restaurant to Total: Business Count Ratio,Restaurant to Total: Loan Amount Ratio
0,76297,8414,116926.701593,114141.285,95.099783,93.724688,8.921157e+09,9.603848e+08,9.932594,9.718977

In [34]:
state_ppp_summary_df["Average Loan Value: Non Food Establishments"] = state_ppp_summary_df["Average Loan Value: Non Food Establishments"].map("${:,.2f}".format)
state_ppp_summary_df["Average Loan Value: Food Establishments"] = state_ppp_summary_df["Average Loan Value: Food Establishments"].map("${:,.2f}".format)
state_ppp_summary_df["Foregiveness Ratio: Non Food Establishments"] = state_ppp_summary_df["Foregiveness Ratio: Non Food Establishments"].map("{:.1f}".format)
state_ppp_summary_df["Foregiveness Ratio: Food Establishments"] = state_ppp_summary_df["Foregiveness Ratio: Food Establishments"].map("{:.1f}".format)
state_ppp_summary_df["Total Loan Dispersement: Non Food Establishments"] = state_ppp_summary_df["Total Loan Dispersement: Non Food Establishments"].map("${:,.2f}".format)
state_ppp_summary_df["Total Loan Dispersement: Food Establishments"] = state_ppp_summary_df["Total Loan Dispersement: Food Establishments"].map("${:,.2f}".format)
state_ppp_summary_df["Restaurant to Total: Business Count Ratio"] = state_ppp_summary_df["Restaurant to Total: Business Count Ratio"].map("{:.1f}%".format)
state_ppp_summary_df["Restaurant to Total: Loan Amount Ratio"] = state_ppp_summary_df["Restaurant to Total: Loan Amount Ratio"].map("{:.1f}%".format)
state_ppp_summary_df

# district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

,Loan Dispersal Count: Non Food Establishments,Loan Dsipersal Count: Food Establishments,Average Loan Value: Non Food Establishments,Average Loan Value: Food Establishments,Foregiveness Ratio: Non Food Establishments,Foregiveness Ratio: Food Establishments,Total Loan Dispersement: Non Food Establishments,Total Loan Dispersement: Food Establishments,Restaurant to Total: Business Count Ratio,Restaurant to Total: Loan Amount Ratio
0,76297,8414,"$116,926.70","$114,141.28",95.1,93.7,"$8,921,156,551.44","$960,384,771.99",9.9%,9.7%

In [35]:
# renaming columns to prepare for yelp_API dataframe merge
oregon_restaurant_df = oregon_restaurant_df.rename(columns={"BorrowerName":"Business Name","BorrowerAddress":"Street Address","BorrowerCity":"City","BorrowerState":"State", "BorrowerZip":"Zip", "CurrentApprovalAmount":"Loan Amount", "ForgivenessAmount": "Foregiveness Amount", "DateApproved": "Approval Date", "JobsReported": "Jobs"})
oregon_restaurant_df.columns

Index(['Business Name', 'Street Address', 'City', 'State', 'Zip', 'Jobs',
       'NAICSCode', 'Loan Amount', 'Foregiveness Amount', 'Approval Date'],
      dtype='object')

In [36]:
# preparing dataframe to concatenate street address to match formatting with google_API dataframe address column
new_column_order = ["Business Name", "Street Address", "City", "State", "Zip", "Loan Amount", "Foregiveness Amount", "Approval Date", "Jobs"]
oregon_restaurant_df = oregon_restaurant_df[new_column_order]

oregon_restaurant_df.head()

,Business Name,Street Address,City,State,Zip,Loan Amount,Foregiveness Amount,Approval Date,Jobs
828747,-,"2118 Lancaster Drive Northeast,Suite 110",Salem,OR,97305,18100.0,18247.28,4/16/20,7.0
828748,-,"224 Northwest 1st Avenue, Oregon",Canby,OR,97013,25500.0,25710.99,4/13/20,4.0
828755,(THE) PANDA RESTAURANT,555 N Main St.,PRINEVILLE,OR,97754,17000.0,17153.70,5/11/20,7.0
828763,1-2-3 YO LLC,3962 SE HAWTHORNE BLVD,PORTLAND,OR,97214,66035.0,66671.50,4/14/20,10.0
828764,1-2-3 YO LLC,3962 SE Hawthorne Blvd,Portland,OR,97214-5258,65418.0,65737.82,2/7/21,6.0

In [37]:
# regular expression on zip code to establish 5 digit standard
oregon_restaurant_df["Zip"] = oregon_restaurant_df["Zip"].str.extract(r'(\d{5})')

In [38]:
# concatenate address columns to reflect idential formatting of yelp/OR biz dataframe 
Address = []
for index in range(len(oregon_restaurant_df)):
    address = f'{oregon_restaurant_df.iloc[index, 1]} , {oregon_restaurant_df.iloc[index, 2]}, {oregon_restaurant_df.iloc[index, 3]} {oregon_restaurant_df.iloc[index, 4]} ,  United States'
    Address.append(address)
   
len(Address)

8414

In [39]:
# establishing new address column in dataframe and reformatting columns
oregon_restaurant_df['Address'] = Address
new_column_order = ["Business Name", "Address", "Loan Amount", "Foregiveness Amount", "Approval Date", "Jobs"]
oregon_restaurant_df = oregon_restaurant_df[new_column_order]

oregon_restaurant_df = oregon_restaurant_df.fillna(0)
oregon_restaurant_df.head(20)

,Business Name,Address,Loan Amount,Foregiveness Amount,Approval Date,Jobs
828747,-,"2118 Lancaster Drive Northeast,Suite 110 , Sal...",18100.0,18247.28,4/16/20,7.0
828748,-,"224 Northwest 1st Avenue, Oregon , Canby, OR 9...",25500.0,25710.99,4/13/20,4.0
828755,(THE) PANDA RESTAURANT,"555 N Main St. , PRINEVILLE, OR 97754 , Unite...",17000.0,17153.70,5/11/20,7.0
828763,1-2-3 YO LLC,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",66035.0,66671.50,4/14/20,10.0
828764,1-2-3 YO LLC,"3962 SE Hawthorne Blvd , Portland, OR 97214 , ...",65418.0,65737.82,2/7/21,6.0
828769,10 SPEED HEIGHTS,"1412 13th St Ste 300 , Hood River, OR 97031 , ...",15284.0,15413.91,2/3/21,6.0
828780,11 BLOCKS LLC,"8610 SW Hall Blvd , Beaverton, OR 97008 , Uni...",55327.0,55649.87,2/20/21,7.0
828791,12 CIDERS LLC,"1021 12th St Ste 102 , Hood River, OR 97031 , ...",23915.0,24176.43,2/25/21,5.0
828806,"138 GRILL, LLC","20142 N. Umpqua Hwy , GLIDE, OR 97443 , Unite...",14000.0,14142.30,4/15/20,6.0
828813,15 MILE VENTURES LLC,"710 E 2nd St , The Dalles, OR 97058 , United ...",65600.0,65901.94,3/20/21,15.0
828818,17TH EFFECT INC,"8727 N Lombard St , Portland, OR 97203 , Unit...",35458.0,35621.20,1/23/21,5.0
828835,19AD4 LLC,"147 E Main St , Klamath Falls, OR 97601 , Uni...",144347.0,0.00,1/28/21,25.0
828851,2 ANDY ENTERPRISE,"600 SW 4th Ave , Portland, OR 97204 , United ...",123212.0,123759.61,5/12/21,10.0
828852,2 ANDY ENTERPRISE,"600 SW 4th Ave , Portland, OR 97204 , United ...",88007.0,88506.11,4/11/21,20.0
828860,2 JIG INC,"3529 Fairview Industrial drive southeast , Sal...",23700.0,23850.64,1/28/21,8.0
828861,2 JIG INC,"3529 Fairview Industrial Drive Southeast , Sal...",20400.0,20566.55,4/15/20,9.0
828862,2 LIL JERKS LLC,"617 NW 13TH AVE , PORTLAND, OR 97209 , United...",101322.0,102152.01,5/1/20,15.0
828863,2 LIL JERKS LLC,"617 NW 13th Ave , Portland, OR 97209 , United...",44558.0,44826.57,1/23/21,2.0
828865,2 SPARKY'S TAPHOUSE AND BREW SUPPLIES LLC,"1252 23rd St SE , Salem, OR 97302 , United St...",106645.0,108079.59,2/17/21,12.0
828870,2-T.D.B. INC.,"355 Pine St NE , Salem, OR 97301 , United States",18500.0,18629.75,1/28/21,8.0

In [40]:
oregon_restaurant_df["Address"] = oregon_restaurant_df["Address"].str.upper()
oregon_restaurant_df

,Business Name,Address,Loan Amount,Foregiveness Amount,Approval Date,Jobs
828747,-,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",18100.0,18247.28,4/16/20,7.0
828748,-,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",25500.0,25710.99,4/13/20,4.0
828755,(THE) PANDA RESTAURANT,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",17000.0,17153.70,5/11/20,7.0
828763,1-2-3 YO LLC,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",66035.0,66671.50,4/14/20,10.0
828764,1-2-3 YO LLC,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",65418.0,65737.82,2/7/21,6.0
...,...,...,...,...,...,...
1636002,ZECO DEVELOPMENT GROUP LLC,"529 NW 13TH AVE , PORTLAND, OR 97209 , UNITED...",464100.0,470139.66,2/9/21,44.0
1636003,ZECO DEVELOPMENT GROUP LLC,"529 NW 13TH AVE , PORTLAND, OR 97209 , UNITED...",331500.0,335668.73,4/29/20,23.0
1636023,ZNE CORP,"560 HICKORY ST. NW , ALBANY, OR 97321 , UNITE...",160040.0,162227.94,4/13/20,49.0
1636024,ZNE CORP.,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",166010.0,168079.44,1/23/21,45.0
1636026,ZUM WHOL INC,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",261753.0,264270.13,2/13/21,24.0

In [41]:
all_or_food_ppp = oregon_restaurant_df.groupby(["Business Name", "Address"]).agg({"Loan Amount": ['sum'], "Foregiveness Amount": ['sum'], "Jobs":['sum'], "Approval Date":['min']}).reset_index()
all_or_food_ppp

,Business Name,Address,Loan Amount,Foregiveness Amount,Jobs,Approval Date
,,,sum,sum,sum,min
0,(THE) PANDA RESTAURANT,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",17000.0,17153.70,7.0,5/11/20
1,-,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",18100.0,18247.28,7.0,4/16/20
2,-,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",25500.0,25710.99,4.0,4/13/20
3,1-2-3 YO LLC,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",131453.0,132409.32,16.0,2/7/21
4,10 SPEED HEIGHTS,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",15284.0,15413.91,6.0,2/3/21
...,...,...,...,...,...,...
7303,ZNE CORP.,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",166010.0,168079.44,45.0,1/23/21
7304,"ZOLA'S PIZZERIA, INC.","16362 LOWER HARBOR ROAD , BROOKINGS, OR 97415 ...",72690.0,73604.10,5.0,4/27/20
7305,ZONA ROSA INC.,"4835 N ALBINA AV , PORTLAND, OR 97217 , UNITE...",54544.0,27787.10,17.0,4/27/20
7306,ZOOK LLC,"1220 NW 6TH ST , GRANTS PASS, OR 97526 , UNIT...",33292.0,33603.83,15.0,2/23/21
7307,ZUM WHOL INC,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",261753.0,264270.13,24.0,2/13/21

In [42]:
all_or_food_ppp["Foregiveness Rate"] = all_or_food_ppp["Foregiveness Amount"]/all_or_food_ppp["Loan Amount"]*100
all_or_food_ppp

,Business Name,Address,Loan Amount,Foregiveness Amount,Jobs,Approval Date,Foregiveness Rate
,,,sum,sum,sum,min,
0,(THE) PANDA RESTAURANT,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",17000.0,17153.70,7.0,5/11/20,100.904118
1,-,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",18100.0,18247.28,7.0,4/16/20,100.813702
2,-,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",25500.0,25710.99,4.0,4/13/20,100.827412
3,1-2-3 YO LLC,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",131453.0,132409.32,16.0,2/7/21,100.727500
4,10 SPEED HEIGHTS,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",15284.0,15413.91,6.0,2/3/21,100.849974
...,...,...,...,...,...,...,...
7303,ZNE CORP.,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",166010.0,168079.44,45.0,1/23/21,101.246576
7304,"ZOLA'S PIZZERIA, INC.","16362 LOWER HARBOR ROAD , BROOKINGS, OR 97415 ...",72690.0,73604.10,5.0,4/27/20,101.257532
7305,ZONA ROSA INC.,"4835 N ALBINA AV , PORTLAND, OR 97217 , UNITE...",54544.0,27787.10,17.0,4/27/20,50.944375
7306,ZOOK LLC,"1220 NW 6TH ST , GRANTS PASS, OR 97526 , UNIT...",33292.0,33603.83,15.0,2/23/21,100.936651
7307,ZUM WHOL INC,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",261753.0,264270.13,24.0,2/13/21,100.961643

In [43]:
all_or_food_ppp["Foregiveness Rate"] = all_or_food_ppp["Foregiveness Rate"].map("{:,.4f}".format)
all_or_food_ppp

,Business Name,Address,Loan Amount,Foregiveness Amount,Jobs,Approval Date,Foregiveness Rate
,,,sum,sum,sum,min,
0,(THE) PANDA RESTAURANT,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",17000.0,17153.70,7.0,5/11/20,100.9041
1,-,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",18100.0,18247.28,7.0,4/16/20,100.8137
2,-,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",25500.0,25710.99,4.0,4/13/20,100.8274
3,1-2-3 YO LLC,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",131453.0,132409.32,16.0,2/7/21,100.7275
4,10 SPEED HEIGHTS,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",15284.0,15413.91,6.0,2/3/21,100.8500
...,...,...,...,...,...,...,...
7303,ZNE CORP.,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",166010.0,168079.44,45.0,1/23/21,101.2466
7304,"ZOLA'S PIZZERIA, INC.","16362 LOWER HARBOR ROAD , BROOKINGS, OR 97415 ...",72690.0,73604.10,5.0,4/27/20,101.2575
7305,ZONA ROSA INC.,"4835 N ALBINA AV , PORTLAND, OR 97217 , UNITE...",54544.0,27787.10,17.0,4/27/20,50.9444
7306,ZOOK LLC,"1220 NW 6TH ST , GRANTS PASS, OR 97526 , UNIT...",33292.0,33603.83,15.0,2/23/21,100.9367
7307,ZUM WHOL INC,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",261753.0,264270.13,24.0,2/13/21,100.9616

In [44]:
import numpy as np
# func = lambda x : np.where(x < 0, x.mean(), x)

# df['Bad_Column'].transform(func)



all_or_food_ppp['Business Name'] = all_or_food_ppp["Business Name"].apply(lambda x: x if len(x) > 1 else pd.np.nan)
# df['b'] = df.b.apply(lambda x: x if x>=0 else pd.np.nan)
all_or_food_ppp

/var/folders/0g/0f8bfz6d47x6v12s0j396t4w0000gn/T/ipykernel_12343/903060341.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  all_or_food_ppp['Business Name'] = all_or_food_ppp["Business Name"].apply(lambda x: x if len(x) > 1 else pd.np.nan)

,Business Name,Address,Loan Amount,Foregiveness Amount,Jobs,Approval Date,Foregiveness Rate
,,,sum,sum,sum,min,
0,(THE) PANDA RESTAURANT,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",17000.0,17153.70,7.0,5/11/20,100.9041
1,NaN,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",18100.0,18247.28,7.0,4/16/20,100.8137
2,NaN,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",25500.0,25710.99,4.0,4/13/20,100.8274
3,1-2-3 YO LLC,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",131453.0,132409.32,16.0,2/7/21,100.7275
4,10 SPEED HEIGHTS,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",15284.0,15413.91,6.0,2/3/21,100.8500
...,...,...,...,...,...,...,...
7303,ZNE CORP.,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",166010.0,168079.44,45.0,1/23/21,101.2466
7304,"ZOLA'S PIZZERIA, INC.","16362 LOWER HARBOR ROAD , BROOKINGS, OR 97415 ...",72690.0,73604.10,5.0,4/27/20,101.2575
7305,ZONA ROSA INC.,"4835 N ALBINA AV , PORTLAND, OR 97217 , UNITE...",54544.0,27787.10,17.0,4/27/20,50.9444
7306,ZOOK LLC,"1220 NW 6TH ST , GRANTS PASS, OR 97526 , UNIT...",33292.0,33603.83,15.0,2/23/21,100.9367
7307,ZUM WHOL INC,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",261753.0,264270.13,24.0,2/13/21,100.9616

In [45]:
all_or_food_ppp["Business Name"] = all_or_food_ppp["Business Name"].fillna(method='ffill')

all_or_food_ppp

,Business Name,Address,Loan Amount,Foregiveness Amount,Jobs,Approval Date,Foregiveness Rate
,,,sum,sum,sum,min,
0,(THE) PANDA RESTAURANT,"555 N MAIN ST. , PRINEVILLE, OR 97754 , UNITE...",17000.0,17153.70,7.0,5/11/20,100.9041
1,(THE) PANDA RESTAURANT,"2118 LANCASTER DRIVE NORTHEAST,SUITE 110 , SAL...",18100.0,18247.28,7.0,4/16/20,100.8137
2,(THE) PANDA RESTAURANT,"224 NORTHWEST 1ST AVENUE, OREGON , CANBY, OR 9...",25500.0,25710.99,4.0,4/13/20,100.8274
3,1-2-3 YO LLC,"3962 SE HAWTHORNE BLVD , PORTLAND, OR 97214 , ...",131453.0,132409.32,16.0,2/7/21,100.7275
4,10 SPEED HEIGHTS,"1412 13TH ST STE 300 , HOOD RIVER, OR 97031 , ...",15284.0,15413.91,6.0,2/3/21,100.8500
...,...,...,...,...,...,...,...
7303,ZNE CORP.,"4066 MOOSE RUN DR SW , ALBANY, OR 97321 , UNI...",166010.0,168079.44,45.0,1/23/21,101.2466
7304,"ZOLA'S PIZZERIA, INC.","16362 LOWER HARBOR ROAD , BROOKINGS, OR 97415 ...",72690.0,73604.10,5.0,4/27/20,101.2575
7305,ZONA ROSA INC.,"4835 N ALBINA AV , PORTLAND, OR 97217 , UNITE...",54544.0,27787.10,17.0,4/27/20,50.9444
7306,ZOOK LLC,"1220 NW 6TH ST , GRANTS PASS, OR 97526 , UNIT...",33292.0,33603.83,15.0,2/23/21,100.9367
7307,ZUM WHOL INC,"401 NE 28TH AVE , PORTLAND, OR 97232 , UNITED...",261753.0,264270.13,24.0,2/13/21,100.9616

In [46]:
output_data_file = "all_oregon_restaurant_ppp_data.csv"
# Export the City_Data into a CSV.
all_or_food_ppp.to_csv(output_data_file, index=False)